@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Sofia&display=swap');

.inputbus{
  width: auto;
margin: 0 5rem 0 15rem;
padding: 1rem 0 0 0;
}

.logo{
  background-color: #282c34;
  margin: 0.5rem 27.5rem 0 0;
  width: 8rem;
  height: 5rem;
}

.inst{
  background-color: #e7e6e2;
  color: #868584;
  padding: 1.5rem;
  font-family: 'Playfair Display', serif;
}

.carritoco{
  margin: 0 0 0rem 6rem;
  width: auto;
}





.envgra{
  color:#7a4a58;
  margin: 0 0 0 6rem;
  width: auto;
}

.inst hr{
  height: 2px;
  
}

.inst svg{
  color: #868584;
  margin: 0 auto;
  width: 5rem;
  height: 2.5rem;
}

.barra1{
  width: 8rem;
  margin: 1rem auto;
  padding: .10rem;
}

.imgf{
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.inst svg:hover{
  color: black;
}

.foo{
  text-align: start;
  padding: 1rem;
}

.foo h5{
  font-weight: 700;
  padding-bottom: .5rem;
  font-family: 'Playfair Display', serif;
}

.foo a{
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  color: black;
}

.foo a:hover{
 color: #868584;
}


.foo ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.foo li{
  text-align: start;
}

.promo{
  text-align: center;
  background-color: #7a4a58;
  padding: .5rem;
  color: white;
}

.menu1{
  text-align: end;
  height: 1.75rem;
  padding-right: 5rem;
  background-color: #c8c6cb;
}

.menu1 a{
  text-decoration: none;
  color: #818082;
  padding: 2px 3px 7px 3px;
}

.menu1  a:hover {
  color: white;
  background-color: #707070;
  border-radius: 5px;
}

.menu1 ul{
  list-style: none;
}

.contenedor{
  display:flex;
}

.contenedor1{
  width: 50%;
}

.contenedor2{
  width: 50%;
}


.menu1 li{
  display: inline;
  padding: 0 5px;
}


.letranav{
  font-family:'Playfair Display', serif;
}

.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media only screen and (max-width: 600px) {
  
.carritologo {
  margin-bottom: .5rem;
  color:#707070 ;
  width: 2rem;
  height: 2rem;
}
  
.menu1{
  text-align: center;
  margin: 0 auto;
  padding: 5px 0 0 0;
  font-size: .7rem;
}


.logo{
  background-color: #282c34;
  margin: 1rem 0 0 -45%;
  padding:0;
  width: 5rem;
  height: 3rem;
}

.inputbus{
  width: auto;
  margin: 0;
  padding: 1rem 1rem 0 0;
}

.envgra{
  margin: 1rem auto;
}

.envgra h6{
 font-size: .7rem;
 padding: 0;
}


}


@media only screen and (min-width: 600px) {
  
.carritologo {
  margin-left: 35%;
  margin-bottom: .5rem;
  color:#707070 ;
  width: 3rem;
  height: 2rem;
}
  
.menu1{
  text-align: center;
  margin: 0 auto;
  padding: 5px 0 0 0;
  font-size: .7rem;
}


.logo{
  background-color: #282c34;
  margin: 1.75rem 0 0 -60%;
  padding:0;
  width: 6rem;
  height: 3.5rem;
}

.inputbus{
  width: 10rem;
  margin: 0 0rem 0 45%;
  padding: 1rem 1rem 0 0;
}

.envgra{
  margin: 1rem 0 1rem 45%;
  width: 10rem;
}

.envgra h6{
 font-size: .7rem;
 padding: 0;
}


  
}

@media only screen and (min-width: 768px) {

  .carritologo {
  margin-bottom: .5rem;
  color:#707070 ;
  width: 2rem;
  height: 2rem;
}
  
.menu1{
  text-align: end;
  margin: 0 auto;
  padding: 1px 0 0 0;
  font-size: .8rem;
}


.logo{
  background-color: #282c34;
  margin: 1rem 0 0 -55%;
  padding:0;
  width: 6rem;
  height: 4rem;
}

.inputbus{
  width: 65%;
  margin: 0 0 0 32%;
  padding: 1rem 1rem 0 0;
}

.envgra{
  width: 50%;
  margin: .75rem 0 .75rem 40%;
  padding: 0;
}

.envgra h6{
 font-size: .8rem;

}

}
/*

@media only screen and (min-width: 992px) {...}


@media only screen and (min-width: 1200px) {...}
*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
